<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form method="POST" action="/login">
        <h1>SIGN IN</h1>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <div class="forget-sec">
            <p>Forget Password</p>
            <a href="/register">Register</a>
        </div>
        <button type="submit">Login</button>
    </form>
</body>

</html>